@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=EB+Garamond:ital@1&family=Lato:ital,wght@1,300&family=Roboto&display=swap');
.button{
    padding: 17px;
    margin: -4px 3px;
    border: none;
    border-radius: 8px;
    background: transparent;
    color: azure;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.2);
    cursor: pointer;
    width: 57px;
    font-size: 20px;
}
.row{
    margin: 12px 0;
}
.row input{
    font-size: 20px;
    font-weight: bold;
    margin: 9px;
    padding: 17px 0px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 21px;
    text-align: right;
}
.center{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 13px;
    color: rgb(10, 10, 62);
    font-size: 28px;
}
.container{
    border-radius: 20px;
    width: 337px;
    height: 490px;
    border: 1.5px solid black;
    box-shadow: 0 0 12px 3px  #508ca4;
}
body{
    background-color: #f5f5dc;
}
